@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* GENERAL STYLES */
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
}

/* END GENERAL STYLES */

/* WELCOME */

.start__button {
  padding: 10px 20px;
  border: 2px solid crimson;
  color: crimson;
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.welcome__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.welcome__start {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.username__input {
  margin: 10px 0;
  padding: 10px;
  font-size: 1.2rem;
}

/* END WELCOME */

/* SHIP */

.ships {
  text-align: center;
  padding: 20px 0;
}

.switch__button {
  padding: 10px 20px;
  text-transform: capitalize;
  font-weight: 700;
  background-color: crimson;
  border: 0;
  color: #fff;
}

.ships__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ship__container {
  padding: 5px 0;
  margin: 10px;
}

.ship__square {
  width: 40px;
  height: 40px;
  background-color: #4f86b3;
  border: 1px solid #ffffff2a;
}

.ship {
  background-color: #88a7c0;
  width: fit-content;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.vertical {
  flex-direction: column;
}

.is-selecting {
  background-color: #bad1e4;
}

.ship:hover {
  background-color: #bad1e4;
  cursor: pointer;
}

.ship__name {
  text-transform: capitalize;
  padding-bottom: 10px;
}

/* END SHIP */

.board {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 40px;
  height: 40px;
  background-color: #f3f3f3;
  border: 1px solid #a0a0a0;
}

.square.ship {
  background-color: gray;
}

.square.hit {
  background-color: orange;
}

.square.miss {
  background-color: aqua;
}

.square.sink {
  background-color: red;
}
