@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

/* GENERAL STYLES */

:root {
  --primary: #303245;
  --secondary: #808097;
  --red: #dc143c;
  --aqua: #4f86b3;
  --white: #fff;
  --white-light: #bbb;
  --gray: #777;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
}

body {
  background-color: var(--primary);
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
}

h3 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.3rem;
}

/* END GENERAL STYLES */

/* WELCOME */

.start__button-container {
  text-align: center;
}

.start__button {
  padding: 15px 25px;
  border: 3px solid var(--red);
  color: var(--red);
  font-weight: 700;
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background 200ms, color 200ms;
}

.start__button:hover {
  background-color: var(--red);
  color: var(--white);
}

.welcome__inner {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.welcome__start {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.username__input-container {
  height: 50px;
  position: relative;
}

.username__input {
  background-color: var(--secondary);
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: var(--white);
  font-size: 20px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.username__input:focus ~ .cut,
.username__input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.username__input-placeholder {
  color: var(--white-light);
  font-family: sans-serif;
  left: 10px;
  pointer-events: none;
  position: absolute;
  transition: transform 200ms, color 200ms, background 200ms;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--secondary);
  border-radius: 20px;
  padding: 5px;
}

.username__input:focus ~ .username__input-placeholder,
.username__input:not(:placeholder-shown) ~ .username__input-placeholder {
  transform: translateY(-40px) translateX(-10px) scale(0.8);
  background-color: var(--primary);
}

.username__input:not(:placeholder-shown) ~ .username__input-placeholder {
  color: var(--white);
}

.username__input:focus ~ .username__input-placeholder {
  color: var(--white);
}

/* END WELCOME */

/* SHIP */

.fleet-container {
  text-align: center;
  padding: 20px 0;
}

.switch__button {
  padding: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 500;
  background-color: crimson;
  border: 0;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--white);
}

.fleet {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.fleet__ship-container {
  margin: 10px;
}

.fleet__ship-square {
  width: 40px;
  height: 40px;
  background-color: var(--aqua);
  border: 1px solid var(--white-light);
}

.fleet__ship {
  background-color: #88a7c0;
  padding: 20px;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.fleet__ship.vertical {
  flex-direction: column;
}

.fleet__ship.is-selecting {
  background-color: #bad1e4;
}

.fleet__ship:hover {
  background-color: #bad1e4;
  cursor: pointer;
}

.fleet__ship-name {
  text-transform: capitalize;
  padding-bottom: 10px;
}

/* END SHIP */

.board__container {
  margin: 20px;
}

.board {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 40px;
  height: 40px;
  background-color: var(--secondary);
  border: 1px solid var(--white-light);
  cursor: crosshair;
  transition: background 100ms;
}

.square:hover {
  background-color: #a0a0a0;
}

.square.ship {
  background-color: #808080;
}

.square.ship.computer {
  /* Only for testing */
  background-color: #6464aa;
}

.square.computer:hover {
  background-color: #68687e;
}

.square.hit {
  background-color: orange;
}

.square.miss {
  background-color: aqua;
}

.square.sunk {
  background-color: red;
}

@media screen and (max-width: 820px) {
  .board {
    width: 300px;
    height: 300px;
  }
  .square {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 620px) {
  .board {
    width: 200px;
    height: 200px;
  }
  .square {
    width: 20px;
    height: 20px;
  }
}

/* GAME */

.game__actions {
  text-align: center;
  text-transform: capitalize;
}

.game__actions span {
  color: #727272;
}
